#id1D {
  display: none;
}

#id2D {
  display: none;
}

#id3D {
  display: none;
}

#id4D {
  display: none;
}

#id5D{
  display: none;
}

#id6D {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}